
body {
  margin: 0;
  font-family: 'Inria Sans', 'Roboto', 'Pathway Extreme'  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pacify Angry';
  src: url('/public/fonts/Pacify%20Angry.ttf') format('truetype');
}

@font-face {
  font-family: 'GeistVF';
  src: url('/public/fonts/GeistVF.ttf') format('truetype');
}